on init
     export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
     setprop crypto.ready 1

on fs
    install_keyring

on early-fs
    start vold

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    oneshot
    disabled
    seclabel u:r:recovery:s0

service mobicore /vendor/bin/mcDriverDaemon --sfs-reformat --P1 /mnt/vendor/persist/mcRegistry \
        -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/05120000000000000000000000000001.drbin \
        -r /vendor/app/mcRegistry/05160000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
        -r /odm/vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
        -r /odm/vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/03100000000000000000000000000000.drbin \
        -r /odm/vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
        -r /odm/vendor/app/mcRegistry/031c0000000000000000000000000000.drbin \
        -r /odm/vendor/app/mcRegistry/033c0000000000000000000000000000.drbin \
        -r /odm/vendor/app/mcRegistry/035c0000000000000000000000000000.drbin \
        -r /odm/vendor/app/mcRegistry/037c0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/031c0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/032c0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/033c0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/034c0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/035c0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/036c0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/037c0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
        -r /vendor/app/mcRegistry/090b0000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/0f5eed3c3b5a47afacca69a84bf0efad.drbin \
        -r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
        -r /vendor/app/mcRegistry/4be4f7dc1f2c11e5b5f7727283247c7f.drbin \
        -r /vendor/app/mcRegistry/08070000000000000000000000008270.drbin \
        -r /vendor/app/mcRegistry/07070000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/07407000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin \
        -r /odm/vendor/app/mcRegistry/6b3f5fa0f8cf55a7be2582587d62d63a.drbin \
        -r /odm/vendor/app/mcRegistry/09070000000000000000000000000000.drbin \
        -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin
    user root
    group root
    class core
    priority -20

service keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-service.trustonic
    class early_hal
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0  /vendor/bin/hw/android.hardware.gatekeeper@1.0-service.trusty
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:crypto.ready=1
    start keymaster-4-1

on property:hwservicemanager.ready=true
    start mobicore
    start gatekeeper-1-0
    start keymaster-4-1

on property:ro.crypto.state=unsupported
    stop mobicore
    stop gatekeeper-1-0
    stop keymaster-4-1

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop gatekeeper-1-0
    stop keymaster-4-1

on property:twrp.decrypt.done=true
    stop mobicore
    stop gatekeeper-1-0
    stop keymaster-4-1

on property:crypto.ready=0
    stop mobicore
    stop gatekeeper-1-0
    stop keymaster-4-1

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0

on boot
    start mtk.plpath.utils.link

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 1
    # set charging free due to it wait for USB activation
    start adbd

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
