#add for board init.rc for recovery mode
import /init.recovery.common.rc
import /init.tee.rc

on init
     export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
     start prepdecrypt

on fs
    install_keyring

on early-fs
    start vold

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    oneshot
    disabled
    seclabel u:r:recovery:s0

service prepdecrypt /system/bin/prepdecrypt.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-service.trustonic
    class early_hal
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    class hal
    user root
    group root
    disabled

service soter_hal /vendor/bin/hw/vendor.trustonic.soter@1.0-service
    class late_start
    user root
    group root
    interface aidl vendor.trustonic.hardware.soter.ITrustonicSoter/default

service gatekeeper-1-0  /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:crypto.ready=1
    start mobicore
    start soter_hal
    start keymaster_attestation-1-1
    start gatekeeper-1-0
    start keymaster-4-1

on property:vendor.sys.listener.registered=true
    start mobicore
    start soter_hal
    start keymaster_attestation-1-1
    start gatekeeper-1-0
    start keymaster-4-1

on property:hwservicemanager.ready=true
    start mobicore
    start soter_hal
    start keymaster_attestation-1-1
    start gatekeeper-1-0
    start keymaster-4-1

on property:ro.crypto.state=unsupported
    stop mobicore
    stop soter_hal
    stop keymaster_attestation-1-1
    stop gatekeeper-1-0
    stop keymaster-4-1

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop soter_hal
    stop keymaster_attestation-1-1
    stop gatekeeper-1-0
    stop keymaster-4-1

on property:twrp.decrypt.done=true
    stop mobicore
    stop start soter_hal
    stop keymaster_attestation-1-1
    stop gatekeeper-1-0
    stop keymaster-4-1

on boot
    start mtk.plpath.utils.link
    start boot-hal-1-0
    start health-hal-2-1
